<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root">I am the root of panda note</main>
<%# TODO: Remove text %>
