.auth-form-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 350px;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  background-color: white;
  margin-top: 20%;
  margin-left: 50%;
  transform: translateX(-50%);

  input {
    margin-top: 15px;
    background-color: white;
    text-align: center;
  }

  .login-input {
    height: 20px;
  }

  .submit {
    background-color: $dark-green;
    margin: 0px 5px;
  }

  .demo {
    background-color: $dark-green;
    margin: 0px 5px;
  }

  .cancel {
    background-color: $dark-green;
    margin: 0px 5px;
  }
}

.input.button.submit {
  padding-top: 15px;
}

.button {
  background-color: $dark-green;
  color: $tan;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  margin-top: 15px;
}

.button:hover {
  background-color: $green;
  border-color: $dark-green;
}
