.index {
  min-width: 300px;
  width: 300px;
  border-left: 1px solid black;
  border-right: 1px solid black;

  .notes-index-header {
    width: 250;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 13px 25px 13px 25px;
  }
}

.notes-index-container {
  overflow: auto;
  height: 84%;
}


.notes-index {
  li.selected {
    border-color: $dark-green;
  }
  li {
    padding: 13px 25px 13px 25px;

    height: 113px;

    border: 3px solid transparent;

    background-color: white;
    overflow: hidden;

    div {
      section {
        div {
          display: flex;
          justify-content: space-between;
          header {
            font: Helvetica;
            font-weight: lighter;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: break-word;
          }
          img {
            width: 15px;
            height: 15px;
            border: 3px solid transparent;
            border-radius: 10px;
          }
          img:hover {
            background-color: $tan;
            border-color: $light-green;
          }
        }
        time {
          position: relative;
          font-size: 9px;
        }
        p {
          font-size: 10px;
          color: grey;

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
      }
    }

  }

  li:hover {
    background-color: $dark-green;
    border-color: $green;
    color: $tan;
    p{
      color: $tan;

    }
  }
}
