.index {
  float: right;
  width: 302px;
  overflow: scroll;

  .notes-index-header {
    position: fixed;
    width: 216px;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    background-color: white;
    border: 1px solid black;
    z-index: 100;
  }

  .notes-index {
    ul {
      position: relative;
      top: 100px;
    }
    li {
      height: 100px;

      border: 1px solid black;
      background-color: white;
      overflow: hidden;

      div {
        margin: 5px;

        section {
          margin-top: 3px;
          margin-left: 5px;
          margin-right: 15px;



          header {
            font: Helvetica;
            font-weight: lighter;
          }
          time {
            position: relative;
            font-size: 9px;
            bottom: 8px;

          }
          p {
            position: relative;

            font-size: 10px;
            color: grey;



  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
          }
        }
      }
    }
  }
}
