.notes-editor {
  width: 75%;
  min-width: 350px;
}

.note-title {
  font-size: 36px;
  border: 0px solid transparent;
  margin: 13px 25px 13px 25px;
}

.editor {
  min-height: 50%;
  height: 100%;
  z-index: 0;
}

.save-button {
  width: 15px;
}


div.RichTextEditor__root___2QXK- {
  border: 0px solid transparent;
  border-top: 1px solid #ddd;
}

span.Dropdown_root__3ALmx {
  z-index: 0;
}

div.ButtonWrap__root___1EO_R {
  z-index: 0;
}

select.Dropdown__root___3ALmx {
  z-index: 0;
}

span.Dropdown__root___3ALmx {
  z-index: 0;
}

div.DraftEditor-editorContainer {
  z-index: 0;
}
