.notes-editor {
  width: 75%;
  min-width: 350px;
}

.notes-editor-header {
  height: 109px;
  display: flex;
  flex-direction: column;
}

.note-title {
  font-size: 36px;
  border: 0px solid transparent;
  margin: 13px 25px 13px 25px;
}

.editor {
  min-height: 50%;
  height: 100%;
  z-index: 0;
}

.editor-detail-buttons {
  display: flex;
  margin: 30px 25px 13px 25px;
  align-items: center;
}

.save-button {
  width: 20px;
  height: 20px;
  padding: 3px;
  border: 3px solid transparent;
  border-radius: 10px;
}
img.save-button:hover {
  cursor: pointer;
  background-color: $tan;
  border-color: $light-green;
}


div.RichTextEditor__root___2QXK- {
  border: 0px solid transparent;
  border-top: 1px solid #ddd;
  height: 80vh;

  .RichTextEditor__editor___1QqIU {
    height: 92%;
    font-family: helvetica,sans-seri;
  }
}

span.Dropdown_root__3ALmx {
  z-index: 0;
}

div.ButtonWrap__root___1EO_R {
  z-index: 0;
}

select.Dropdown__root___3ALmx {
  z-index: 0;
}

span.Dropdown__root___3ALmx {
  z-index: 0;
}

div.DraftEditor-editorContainer {
  z-index: 0;
  padding: 3px 20px;
  height: 100%;
}
