.notebook-modal {
  position: relative;
  left: 104px;
  height: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
  width: 400px;
  background-color: white;
  overflow-y: scroll;
}

.notebooks-index-header-container {
  display: flex;
  justify-content: space-between;
}

.notebooks-index-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  padding: 13px 25px 13px 25px;
}

.notebook-index-item {
  box-sizing: border-box;
  border: 3px solid transparent;
  padding: 0px 25px 0px 25px;
  img {
    float: right;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-radius: 10px;
  }
  img:hover {
    background-color: $tan;
    border-color: $light-green;
  }
}

li.notebook-index-item:hover {
  background-color: $dark-green;
  border-color: $green;
}

.create-notebook-button {
  position: relative;
  bottom: 2px;
  margin-bottom: 10px;
  float: right;
  margin-right: 10px;
}

.new-notebook-modal{
  margin-top: 25%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.new-notebook-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
  }

  input{
    width: 300px;
  }

  .new-notebook-name {
    font-size: 15px;
    text-align: center;
  }
}
