html, body, div, h1, a, nav, footer, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: inherit;
  text-decoration: inherit;
}

html {
  width: 100%;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

html:after {
  content: "";
  display: block;
  clear: both;
}
