.note-container {
  display: block;
  width: 100px;
  height: 100%;
  background-color: $light-green;
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .sidebar-logo {
      border: 3px solid black;
      border-radius: 50%;
      background-color: white;
      width: 50px;
      margin: 5px;
    }
  }
}
