.note-container {
  display: inline-flex;
  border: 1px solid black;
  height: 100%;
  width: 100%;

  .sidebar {
    flex-shrink: 0;
    border: 1px solid black;
    width: 100px;
    background-color: $light-green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .sidebar-logo {
      border: 3px solid black;
      border-radius: 50%;
      background-color: white;
      width: 50px;
      margin: 5px;
    }

    .sidebar-new-note {
      margin-top: 25px;
      text-align: center;
      .new-note-icon {
        width: 45px;
        height: auto;
      }
    }

    .sidebar-actions {
      width: 50px;
      margin-top: 25px;
      img {
        border: 3px solid black;
        background-color: white;
        border-radius: 100%;
        margin-top: 10px;
        width: 50px;
      }

      img:hover {
        width: 60px;
      }
    }

    .user-profile {
      width: 50px;
      margin-top: 150px;

    }
  }
}

.user-profile-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  background-color: white;
  margin-top: 65%;
  margin-left: 130px;
  transform: translateX(-50%);
}
