.note-container {
  display: block;
  width: 10%;


  background-color: $light-green;

  .sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .sidebar-logo {
      border: 3px solid black;
      border-radius: 50%;
      background-color: white;
      width: 50%;
      margin: 5%;
    }

    .sidebar-new-note {
      margin-top: 25%;
      text-align: center;
      .new-note-icon {
        width: 45%;
        height: auto;
      }
    }

    .sidebar-actions {
      width: 50%;
      margin-top: 25%;
      img {
        border: 3px solid black;
        background-color: white;
        border-radius: 100%;
        margin-top: 10%;
        width: 90%;
      }
    }

    .user-profile {
      width: 50%;
      margin-top: 250%
    }
  }
}
