.splash-container {
  height: 100%;
}

.splash-header-container {
  display: flex;
  justify-content: space-between;
  background-color: $green;
  padding-right:10px;
  align-items: center;
}

.splash-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83%;
  background-image: url(https://images.pexels.com/photos/293333/pexels-photo-293333.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $green;

  h1 {
    border: 3px solid $dark-green;
    background-color: $tan;
    color: $dark-green;
    border-radius: 5px;
    padding: 13px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
  }
}

.header-logo {
  float: left;
  padding: 0px 15px;
}

.session-links {
  float: right;
  font-size: 18px;
  a {
    color: $tan;
  }
}

.header-logo {
  display: flex;
  align-items: center;

  h1 {
    color: $tan;
  }
}

.login-link {
  padding: 0px 10px;
}

.signup-link {
  padding-right: 10px;
}


.header-site-name {
  float: right;
  font-size: 24px;
  font-weight: bold;
}

img.header-panda-logo {
  float: left;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  margin: 5px;
}

.splash-footer {
  height: 200px;
  background-color: $green;
  display: flex;
  justify-content: space-between;
  padding: 7px 50px;

  .github-img {
    width: 50px;
    height: 50px;
  }

  .linkedin-img {
    width: 55px;
    height: 55px;
  }
}
