.splash-container {
  height: 100%;
}

.splash-header-container {
  display: flex;
  justify-content: space-between;
  background-color: $green;
  padding-right:10px;
  align-items: center;
}

.splash-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 87%;
  background-image: url(http://res.cloudinary.com/dbf0xwan5/image/upload/q_40/v1489603020/splash_photo_edza7r.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  h1 {
    border: 3px solid $dark-green;
    background-color: $tan;
    color: $dark-green;
    border-radius: 5px;
    padding: 13px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
}

.header-logo {
  float: left;
}

.session-links {
  float: right;
  a {
    color: $tan;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  h1 {
    color: $tan;
  }
}


.header-site-name {
  float: right;
  font-size: 24px;
  font-weight: bold;
}

img.header-panda-logo {
  float: left;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  margin: 5px;
}

.splash-footer {
  height: 100px;
  background-color: $green;
}
