div {
  display: block;
  width: 100%;
}

.splash-container {
  display: flex;
  justify-content: space-between;
  background-color: $green;
  padding-right:10px;
  align-items: center;
}

.header-logo {
  float: left;
}

.session-links {
  float: right;
  a {
    color: $tan;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  h1 {
    color: $tan;
  }
}

.header-site-name {
  float: right;
  font-size: 24px;
  font-weight: bold;
}

img.header-panda-logo {
  float: left;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  width: 50px;
  margin: 5px;
}

.splash-footer {
  height: 50px;
  background-color: $green;
}
