<!DOCTYPE html>
<html>
<head>
  <title>PandaNote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
